@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;600&family=Lato:wght@300;400;700&family=Lora:wght@400;500;600&family=Passions+Conflict&family=Satisfy&family=Varela+Round&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App{
    text-align: center;
    font-family: 'Lato', sans-serif; ;
}
